GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_SHEETS_API_KEY=change-this-to-a-long-random-secret
NEXT_PUBLIC_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
ADMIN_EMAIL=admin@srvc.ac.th
ADMIN_PASSWORD=change-this-admin-password
